{
  "extends" : [
    "standard"
  ],
  "plugins": [
    "mocha"
  ],
  "globals" : {
    "expect" : false,
    "should" : false,
    "sinon"  : false
  },
  "rules": {
    "semi" : [2, "never"],
    "max-len": [2, 120, 2],
    "generator-star-spacing": 0,
    "mocha/no-exclusive-tests": "error"
  }
}
